:root {
	--background-gradient: linear-gradient(135deg, #556B2F, #4B5320);
	--background-color: #556B2F;
	--accent-color: #A52A2A;
	--text-color: #FCFCFF;
}

::-webkit-scrollbar {
	width: 10px;
	background: var(--background-gradient);
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent-color);
}

html,
body {
	display: flex;
	flex-direction: column;

	background-size: cover;
	min-height: 100vh;
	padding: 0;
	margin: 0;
	background: var(--background-gradient);

	font-family: Arial, Helvetica, sans-serif;
	color: var(--text-color);
}

main {
	flex: 1;
}

.cover {
	position: relative;
}

.cover .image {
	width: 100%;
	height: auto;
	filter: brightness(70%);
}

.cover .title {
	position: absolute;
	width: 100%;
	top: 50%;
	transform: translate(0, -50%);

	font-size: 6vw;
	text-align: center;
	font-weight: bold;

	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px 0;
}

.content {
	margin: 15px 25px;
}

.content .title {
	margin: 25px;
	text-align: center;
	font-size: 25px;
}

.content .image {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

.content .text {
	margin: 15px 0px;
	text-indent: 30px;
	font-size: 18px;
}

.content .bold {
	font-weight: bold;
	color: var(--accent-color);
	filter: brightness(150%);
}

.content .italic {
	font-style: italic;
	color: var(--accent-color);
	filter: brightness(150%);
}

.content .cards {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: 40px;
}

.cards .card {
	position: relative;
	background: var(--accent-color);
	overflow: hidden;
	border-radius: 16px;
	border: 1px solid var(--text-color);
	width: 350px;
}

.cards .card a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: inherit;
}

.cards .card .card-info {
	border-top: 1px solid var(--text-color);
	padding: 15px;
}

.cards .card .card-image {
	width: 100%;
	height: 300px;
	overflow: hidden;
}

.cards .card .card-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.cards .card .card-title {
	margin: 5px 0px;
	font-size: 18px;
	font-weight: bold;
}

.cards .card .card-description {
	width: 95%;
	margin: 5px 10px;
	font-size: 14px;
	color: #d1d1d1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}